@model CarRental_DTO.VehicleTypeDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Vehicle Type</h1>

@if (ViewBag.IsValid != null && ViewBag.IsValid == false)
{
    <h3 style="color:red; font-weight:bold;">This vehicle type can't be deleted because it has vehicles that reference it!</h3>
}
else{
    <h3>Are you sure you want to delete this vehicle type?</h3>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTypeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleTypeDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VehicleTypeId" />
        <input type="submit" style="margin:5px 0px 5px 0px;" value="Delete" class="btn btn-danger" />
    </form>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>
