@page "/VehicleTypes"
@using CarRental_Application.Services
@using CarRental_Domain.Entities

@inject VehicleTypeServices VehicleTypeServices

<h3>VehicleTypeIndex</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Vehicle Type Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var vt in vehicleTypes)
            {
                <tr>
                    <td>@vt.VehicleTypeName</td>
                    <td>@vt.VehicleTypeDescription</td>
                </tr>
            }
        </tbody>
    </table>

@code {
    private List<VehicleType> vehicleTypes;

    protected override async Task OnInitializedAsync()
    {
        vehicleTypes = VehicleTypeServices.GetAllVehicleTypes().ToList();
    }
}
