@model CarRental_DTO.ClientDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Client</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option selected value="">Gender...</option>
                    @if(Model.Gender == "M")
                    {
                        <option selected value="M">Male</option>
                    }else
                    {
                        <option value="M">Male</option>
                    }
                    @if (Model.Gender == "F")
                    {
                        <option selected value="F">Female</option>
                    }
                    else
                    {
                        <option value="F">Female</option>
                    }
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverLicenceNumber" class="control-label"></label>
                <input asp-for="DriverLicenceNumber" class="form-control" />
                <span asp-validation-for="DriverLicenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalIdcardNumber" class="control-label"></label>
                <input asp-for="PersonalIdcardNumber" class="form-control" />
                <span asp-validation-for="PersonalIdcardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" style="margin:5px 0px 5px 0px;" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
